In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
from datetime import datetime 
from scipy.stats import linregress

In [4]:
# Load the cvs cities file to a DataFrame

cities = "Resources/cities.csv"
weather_cities = pd.read_csv(cities)

In [5]:
weather_cities.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
5,5,martyush,92,RU,1528905306,94,56.40,61.89,55.03,9.33
6,6,hobart,20,AU,1528902000,87,-42.88,147.33,44.60,8.05
7,7,broken hill,0,AU,1528905311,88,-31.97,141.45,44.50,7.31
8,8,harnosand,0,SE,1528903200,44,62.63,17.94,60.80,13.87
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40

In [6]:
weather_cities.set_index('City_ID')

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...
542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [7]:
# convert date
for date_ in weather_cities['Date']:
    weather_cities['Date'] = datetime.fromtimestamp(date_).strftime('%m/%d/%Y')
weather_cities.head(5)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,06/13/2018,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,06/13/2018,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,06/13/2018,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,06/13/2018,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,06/13/2018,88,70.62,147.90,32.17,2.95